/*BODY*/

body {
    background: #fff;
}

/*HEADING*/

.jumbotron {
    margin: 20px 0;
    padding: 20px 10px;
    border: 1px solid #000;
    background: url("../images/background.jpg");
	background-size: auto
    text-align: center;
}

/* TABLE */
#Schedule-Table{
    background-color: #ADD8E6;
}

/*FONT*/

h1 {
    color: #fff;
    font-size: 2em;
    text-shadow: 2px 2px 5px #000;
}
